<link rel="stylesheet" type="text/css" href="/stylesheets/home.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/class.css">
<div id="wrapper" class="toggled">
   <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h5 class="sidebar-title">
                      {{classRoom.name}}
                  </h5>
                </li>
                <li>
                    <a href="/home"><h3>Home</h3></a>
                </li>
                 <li>
                    <a href="/classRoom/{{classRoom._id}}"><h3>Assignments</h3></a>
                </li>
                <li>
                   <a href="/classRoomBalance/{{classRoom._id}}"><h3>Balances</h3></a>
                </li>
                 <li>
                   <a href="/charts/{{classRoom._id}}"><h3>Graphs</h3></a>
                </li>
                <li>
                   <a href="/market_settings/{{classRoom._id}}"><h3>Market Settings</h3></a>
                </li>
                <li>
                   <a href="/logout"><h3>Logout</h3></a>
                </li>
            </ul>
        </div>


 <div id="page-content-wrapper">
{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}

<div class="main">
 <a href="#menu-toggle" class="menu" id="menu-toggle"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
  <div class="container">
    <div class="col-md-12">
    <h1 class="secondTitle">{{name}} Results</h1>

    <h2 style="margin-top: 1vh !important;">Statistics</h2>
      <div class="col-md-4 statBox"><center><h4 style="font-weight: 600">WEIGHT</h4> <h5>{{weight}}</h5></center></div>
      <div class="col-md-4 statBox"><center><h4 style="font-weight: 600">AVGWAGE</h4><h5><span class="round">{{averageWage}}</span> G</h5></center></div>
      <div class="col-md-4 statBox"><center><h4 style="font-weight: 600">SUPPLY</h4><h5>{{supply}}</h5></center></div>
      <div class="col-md-4 statBox"><center><h4 style="font-weight: 600">INFLATION</h4><h5> <span class="round">{{inflation}}</span></h5></center></div>
      <div class="col-md-4 statBox"><center><h4 style="font-weight: 600">PRICE</h4><h5><span class="round">{{price}}</span></h5></center></div>
      <div class="col-md-4 statBox"><center><h4 style="font-weight: 600">WEIGHTED PRICE</h4><h5><span class="round">{{weightedPrice}}</span></h5></div>

      </center>
       <div class="clear"></div>
      <h2 style="margin-top: 3vh !important;">Individual Student Transactions</h2>
      <center><h3 style="color: grey">No Transactions Occurred</h3></center>
      </div>
