<link rel="stylesheet" type="text/css" href="/stylesheets/home.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/class.css"/>
<script type="text/javascript" src="/javascripts/purchase.js"></script>

<div id="wrapper" class="toggled">
   <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h5 class="sidebar-title" id= "className" classId="{{classId}}">
                      {{name}}
                  </h5>
                </li>
                <li>
                    <a href="/home"><h3>Home</h3></a>
                </li>
                 <li>
                    <h3>Assignments</h3>
                </li>
                 <li>
                   <a href="/charts/{{classId}}"><h3>Graphs</h3></a>
                </li>
                
                <li>
                   <a href="/logout"><h3>Logout</h3></a>
                </li>
            </ul>
        </div>


 <div id="page-content-wrapper">






{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}


<div class="main">
<a href="#menu-toggle" class="menu" id="menu-toggle"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
	<div class="container">
		<div class="col-md-12">
    <h1 class="secondTitle">Overview</h1>

    <div class="col-md-12 descBox">
      <h4 class="title1">Your Balance: <span class="grey">{{classRoomUser.gronks}}G </span></h4>
    </div>

    <div class="col-md-4 descBox">
      <h4 class="title1">Total ExtraCredit Earned</h4>
      <h5 class="descr1"><span class="round grey">{{eCRec}}</span></h5>
    </div>

    <div class="col-md-4 descBox">
      <h4 class="title1">Total Impact on Grade</h4>
      <h5 class="descr1"><span class="round grey">{{weighted}} Points</span></h5>
    </div>

    <div class="col-md-4 descBox">
      <h4 class="title1">Gronks in Economy</h4>
      <h5 class="descr1 grey">{{totalGronks}}</h5>
    </div>

    <div class="clear"></div>
    <h1 class="secondTitle">Assignments</h1>
    {{#if assignments}}


    <div class="panel-group" id="accordian">

    {{#each assignments}}


    <center>
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#collapse{{assignment._id}}">{{assignment.name}}</a>
          </h4>
      </div>

      <div id="collapse{{assignment._id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>{{assignment.name}}</h3>
         <h4>Due Date: <span class="dateNice">{{assignment.expireAt}}</span></h4>
         <h5>Weight: {{assignment.weight}}</h5>
         <h5>ExtraCredit {{assignment.extraCredit}}</h5>
         {{#if assignment.active}}
          <h6 class="active">Active</h6>
            <div>
            {{#if assignment.lastAssign}}
            <h5>This is the last Assignment. Your entire balance will autospend on this assignment.</h5>
            {{else}}
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal{{assignment._id}}">Buy Extracredit</button>

              <!-- Modal -->
              <div class="modal fade" id="modal{{assignment._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Make a Purchase</h4>
                      <h4 class="modal-title" id="myModalLabel">{{assignment.name}}</h4>
                    </div>
                    <div class="modal-body">
                      <input type="number" id="value{{assignment._id}}" /> G R O N K S
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="button" assignId={{assignment._id}} class="btn btn-primary purchase">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
           
            </div>
            {{/if}}
         {{else}}
          <h5 style="color: red">Assignment Closed</h5>
          <a href="/assignment/{{assignment._id}}"><button class="joinClass">See Your Results</button></a>

         {{/if}}
      </div>
      </div>  
      </div>
      </center>
    {{/each}}

    </div>

   
    {{else}}
		<center>
		<h2>There are No Assignments</h2>
		</center>

    {{/if}}
		</div>
	</div>
</div>
</div>

