<link rel="stylesheet" type="text/css" href="/stylesheets/home.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/class.css"/>
<script type="text/javascript" src="/javascripts/createAssign.js"></script>
<div id="wrapper" class="toggled">
   <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h5 class="sidebar-title">
                      {{name}}
                  </h5>
                </li>
                <li>
                    <a href="/home"><h3>Home</h3></a>
                </li>
                 <li>
                    <h3>Assignments</h3>
                </li>
                 <li>
                   <a href="/classRoomBalance/{{classId}}"><h3>Balances</h3></a>
                </li>
                <li>
                   <a href="/transactions/{{classId}}"><h3>Transactions</h3></a>
                </li>
                 <li>
                   <a href="/charts/{{classId}}"><h3>Graphs</h3></a>
                </li>
                <li>
                   <a href="/market_settings/{{classId}}"><h3>Market Settings</h3></a>
                </li>
                 <li>
                   <a href="https://drive.google.com/file/d/0ByWURX2E9q7scWFuUVUtbkN2Zzg/view?usp=sharing" target="_blank"><h3>Teaching Note</h3></a>
                </li>
                <li>
                   <a href="/logout"><h3>Logout</h3></a>
                </li>
            </ul>
        </div>


 <div id="page-content-wrapper">

{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}


<div class="main">
    <a href="#menu-toggle" class="menu" id="menu-toggle"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
	<div class="container">
	

    <h1 class="secondTitle" id="class" classId = "{{classId}}">Assignments</h1>

    <div class="col-md-6 whiteBackground borderRight">
    <center><h4>Total Gronks in Circulation: <br>{{count}}</h4></center>
    </div>
    <div class="col-md-6 whiteBackground">
    <center><h4>Total ExtraCredit Available: <br>{{totalEC}}</h4></center>

    </div>

    

    
    
        <button class="gronksAdd margin-top" style="float: right"><a href="/students/{{classId}}" style="color: #FFF">Add Gronks</a></button>

          <button class="assignmentAdd margin-top" style="float: right" type="button" data-toggle="modal" data-target="#myModal">Add Assignment</button>

    <div class="clear"></div>
    {{#if assignments}}


    <div class="panel-group" id="accordian">
        <h6>Click Assignment Names to Drop Down More Options</h6>

    {{#each assignments}}


    <center>
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#collapse{{assignment._id}}">{{assignment.assignment.name}} </a>
          <div class="arrow-down"></div>
          </h4>
          <div class="assign" id="{{assignment.assignment._id}}"></div>
      </div>

      <div id="collapse{{assignment._id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>{{assignment.assignment.name}}</h3>
         <h4>Due Date: <span class="dateNice">{{assignment.assignment.expireAt}}</span></h4>
         <h5>Weight: {{assignment.assignment.weight}}</h5>
         <h5>Supply: {{assignment.assignment.extraCredit}}</h5>

         {{#if canDelete}}
          <a href="/delete/{{assignment.assignment._id}}">DELETE ASSIGNMENT</a>
         {{/if}}
         {{#if assignment.assignment.lastAssign}}
          <h4>Last Assignment</h4>
         {{/if}}

         {{#if assignment.assignment.active}}
          <h6 class="active">Active</h6>
          <button class="btn-default" type="button" data-toggle="modal" data-target="#endAssign{{assignment.assignment._id}}">End Assignment Manually</button>

           <div class="modal fade" id="endAssign{{assignment.assignment._id}}" tabindex="-1" role="dialog" aria-labelledby="addCreditModalLabel{{assignment.assignment._id}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Are you sure you want to End {{assignment.assignment.name}}?</h4>
                    </div>
                    <div class="modal-body">
                   
              
                          <button class="end_assignment" assignId="{{assignment.assignment._id}}">End Assignment</button>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  
                    </div>
                  </div>
                </div>
              </div>


          <button class="btn-default" type="button" data-toggle="modal" data-target="#addCreditModal{{assignment.assignment._id}}">Add Extra Credit Manually</button>
             <div>
             <hr>
             <h4>Add Gronks</h4>
             <center>


              <!-- Modal 2-->
              <div class="modal fade" id="addCreditModal{{assignment.assignment._id}}" tabindex="-1" role="dialog" aria-labelledby="addCreditModalLabel{{assignment.assignment._id}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Add Extra Credit to {{assignment.assignment.name}}</h4>
                    </div>
                    <div class="modal-body">
                      <form>
                   
                      <div class="form-group">
                      <label>Add ExtraCredit</label>
                      <input type="number" class="form-control" id="extraCreditAdd{{assignment.assignment._id}}">
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      
                      <button class="addExtraCredit" assignId="{{assignment.assignment._id}}" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>











            {{#each days}}
         
            <div class="gronk">
            {{#if active}}
            <a href="/day/{{_id}}"><h5>Day: {{number}}</h5></a>
            <h6>Wage {{wage}}</h6>
            
            {{else}}
            <h5>Day: {{number}}</h5>
            <h6>{{extraCredit}} Extra Credit Generated</h6>
            <h6>Wage {{wage}}</h6>

            </div>
           

            {{/if}}
          
            {{/each}}



            <button type="button" data-toggle="modal" data-target="#editAssign{{assignment.assignment._id}}">Edit Assignment</button>


            <!-- Modal -->
        <div class="modal fade" id="editAssign{{assignment.assignment._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit {{assignment.assignment.name}}</h4>
              </div>
              <div class="modal-body">
                <form>

                <div class="form-group">
                  <label>Change Due Date</label>
                  <h6>Original Due Date: {{assignment.assignment.expireAt}}</h6>
                  <input type="Date" id="newAssignDate{{assignment.assignment._id}}" class="form-control">
                </div>


                <div class="form-group" id="days">
                  <label>Add Another Class Day (Optional)</label>
                  <p>Enter how much wage this extra day should have <br>(leave blank if not adding another day)</p>
                  <input type="Number" id = "addAssignDays{{assignment.assignment._id}}" class="form-control">
                </div>
                {{#if assignment.assignment.lastAssign}}

                {{else}}
                <div class="form-group">
                  <label>Last Assignment</label>
                    <h6>When the last assignment closes, all student's gronk balance will be dumped. The Current Last assignment will no longer be tagged as the last assignment</h6>
        
                 <div class="checkbox">
                 <label><input type="checkbox" value="false" name="last" id="assignLast{{assignment.assignment._id}}">Make Last Assign</label>
                 </div>


                </div>

                {{/if}}



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class = "nextButton1" assign-id="{{assignment.assignment._id}}" class="btn btn-primary">Next</button>
                </form>
              </div>
            </div>
          </div>
        </div>








            </center>
      </div>
         {{else}}
          <h6>Not Active</h6>
          <a href="/assignment/{{assignment.assignment._id}}">View Results</a>

         {{/if}}
      </div>
      </div>  
      </div>
      </center>

    {{/each}}

    </div>
   

    {{else}}
		<center>
		<h2>You Have No Assignments</h2>
		<button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">Add Assignment</button>
		</center>

    {{/if}}
		</div>
	</div>
</div>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Assignment</h4>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-group">
          <label>Name</label>
          <input type="text" id="assignName" class="form-control">
        </div>

        <div class="form-group">
          <label>Due Date</label>
          <input type="Date" id="assignDate" class="form-control">
        </div>

         <div class="form-group">
          <label>Assignment Weight (Out of 1)</label>
          <h6>In Decimals, what percent of a student's grade is this assignment worth?</h6>
          <input type="Number" step="0.01" class="form-control" id="assignWeight">
        </div>

        <div class="form-group">
        <label>Last Assignment?</label>
          <h6>When the last assignment closes, all student's gronk balance will be dumped. The Current Last assignment will no longer be tagged as the last assignment</h6>
            <select class="form-control" name="last" id="assignLast" >
            <option value="false">No</option>
            <option value="true">Yes</option>
            </select>
        </div>

        <div class="form-group" id="doge">
         
        </div>

        <div class="form-group" id="days">
          <label>Add Class Days</label>
          <p>Enter in the Number of Class Days to be Associated with this Assignment</p>
          <input type="Number" required="true" name="assignDays" id = "numDays" class="form-control">
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-default back">Back</button>
        <button type="submit" id = "nextButton" assign_id={{assignment.assignment._id}} class="btn btn-default">Next</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>









