<link rel="stylesheet" type="text/css" href="/stylesheets/home.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/class.css"/>
<script type="text/javascript" src="/javascripts/endMan.js"></script>
<script type="text/javascript" src="/javascripts/createAssign.js"></script>


{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}

<div class="header">
	<div class="container">
		<div class="col-md-12">
			<h1>{{name}}</h1>
			<h3>At {{college}}</h3>
      <a href="/home"><h5>Go Home</h5></a>
		</div>
	</div>
</div>

<div class="main">
	<div class="container">
		<div class="col-md-12">
    <h1 class="secondTitle" id="class" classId = "{{classId}}">Assignments</h1>
    <h2>Total Gronks in Circulation: {{count}}</h2>
    <h2>Total ExtraCredit Available: {{totalEC}}</h2>

     <h2><a href="/charts/{{classId}}">Aggregate Charts</a></h2>
    {{#if assignments}}


    <div class="panel-group" id="accordian">

    {{#each assignments}}


    <center>
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#collapse{{assignment._id}}">{{assignment.assignment.name}}</a>
          </h4>
          <div class="assign" id="{{assignment.assignment._id}}"></div>
      </div>

      <div id="collapse{{assignment._id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <h3>{{assignment.assignment.name}}</h3>
         <h4>Due Date: {{assignment.assignment.expireAt}}</h4>
         <h5>Weight: {{assignment.assignment.weight}}</h5>
         <h5>Supply: {{assignment.assignment.extraCredit}}</h5>

         {{#if canDelete}}
          <a href="/delete/{{assignment.assignment._id}}">DELETE ASSIGNMENT</a>
         {{/if}}
         {{#if assignment.assignment.active}}
          <h6 class="active">Active</h6>
          <button class="end_assignment" assignId="{{assignment.assignment._id}}">End Assignment Manually</button>
          <button class="btn-default" type="button" data-toggle="modal" data-target="#addCreditModal{{assignment.assignment._id}}">Add Extra Credit Manually</button>
             <div>
             <hr>
             <h4>Add Gronks</h4>
             <center>


              <!-- Modal 2-->
              <div class="modal fade" id="addCreditModal{{assignment.assignment._id}}" tabindex="-1" role="dialog" aria-labelledby="addCreditModalLabel{{assignment.assignment._id}}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Add Extra Credit to {{assignment.assignment.name}}</h4>
                    </div>
                    <div class="modal-body">
                      <form>
                   
                      <div class="form-group">
                      <label>Add ExtraCredit</label>
                      <input type="number" class="form-control" name="extraCreditAdd" id="extraCreditAdd{{assignment.assignment._id}}">
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button id = "addExtraCredit" assignId="{{assignment.assignment._id}}" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>











            {{#each days}}
         
            <div class="gronk">
            {{#if active}}
            <a href="/day/{{_id}}"><h5>Day: {{number}}</h5></a>
            <h6>Wage {{wage}}</h6>
            
            {{else}}
            <h5>Day: {{number}}</h5>
            <h6>{{extraCredit}} Extra Credit Generated</h6>
            <h6>Wage {{wage}}</h6>

            </div>
           

            {{/if}}
          
            {{/each}}



            <button type="button" data-toggle="modal" data-target="#editAssign{{assignment.assignment._id}}">Edit Assignment</button>


            <!-- Modal -->
        <div class="modal fade" id="editAssign{{assignment.assignment._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit {{assignment.assignment.name}}</h4>
              </div>
              <div class="modal-body">
                <form>

                <div class="form-group">
                  <label>Change Due Date</label>
                  <h6>Original Due Date: {{assignment.assignment.expireAt}}</h6>
                  <input type="Date" id="newAssignDate{{assignment.assignment._id}}" class="form-control">
                </div>


                <div class="form-group" id="days">
                  <label>Add Another Class Day (Optional)</label>
                  <p>Enter how much wage this extra day should have <br>(leave blank if not adding another day)</p>
                  <input type="Number" id = "addAssignDays{{assignment.assignment._id}}" class="form-control">
                </div>



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class = "nextButton1" assign-id="{{assignment.assignment._id}}" class="btn btn-primary">Next</button>
                </form>
              </div>
            </div>
          </div>
        </div>








            </center>
      </div>
         {{else}}
          <h6>Not Active</h6>
          <a href="/assignment/{{assignment.assignment._id}}">View Results</a>

         {{/if}}
      </div>
      </div>  
      </div>
      </center>

    {{/each}}

    </div>
    <center>
        <button class="btn btn-default assignmentAdd" type="button" data-toggle="modal" data-target="#myModal">Add Assignment</button>
        <div class="clear"></div>
        <button class="btn btn-default"><a href="/students/{{classId}}">Add Gronks to Students</a></button>
    </center>

    {{else}}
		<center>
		<h2>You Have No Assignments</h2>
		<button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal">Add Assignment</button>
		</center>

    {{/if}}
		</div>
	</div>
</div>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create Assignment</h4>
      </div>
      <div class="modal-body">
        <form>
        <div class="form-group">
          <label>Name</label>
          <input type="text" id="assignName" class="form-control">
        </div>

        <div class="form-group">
          <label>Due Date</label>
          <input type="Date" id="assignDate" class="form-control">
        </div>

         <div class="form-group" id = "doge">
          <label>Assignment Weight (Out of 1)</label>
          <input type="Number" step="0.01" class="form-control" id="assignWeight">
        </div>

        <div class="form-group" id="days">
          <label>Add Class Days</label>
          <p>Enter in the Number of Class Days to be Associated with this Assignment</p>
          <input type="Number" name="assignDays" id = "numDays" class="form-control">
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" id = "nextButton" assign_id={{assignment.assignment._id}} class="btn btn-primary">Next</button>
        </form>
      </div>
    </div>
  </div>
</div>







