<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/stylesheets/simple-sidebar.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/home.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/class.css">

<div id="wrapper" class="toggled">
   <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h5 class="sidebar-title">
                      {{classRoom.name}}
                  </h5>
                </li>
                <li>
                    <a href="/home"><h3>Home</h3></a>
                </li>
                 <li>
                    <a href="/classRoom/{{classRoom._id}}"><h3>Assignments</h3></a>
                </li>
                <li>
                    <h3>Balances</h3>
                </li>
                <li>
                   <a href="/transactions/{{classRoom._id}}"><h3>Transactions</h3></a>
                </li>
                 <li>
                   <a href="/charts/{{classRoom._id}}"><h3>Graphs</h3></a>
                </li>
                <li>
                   <a href="/market_settings/{{classRoom._id}}"><h3>Market Settings</h3></a>
                </li>
                <li>
                   <a href="/logout"><h3>Logout</h3></a>
                </li>
            </ul>
        </div>


 <div id="page-content-wrapper">

{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}


<div class="main">
 <a href="#menu-toggle" class="menu" id="menu-toggle"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>
	<div class="container">
		<div class="col-md-12">
    <h1 class="secondTitle">Current Balance Holdings</h1>
    
       <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
        
          <th>Balance (Gronks)</th>
        </tr>
      </thead>
      <tbody>

      {{#each classRoomUsers}}
      <tr>
        <td>{{user.lastName}}, {{user.firstName}}</td>
        <td><span class="round">{{gronks}}</span></td>
     

      </tr>
      {{/each}}

      </tbody>

      </table>
      </div>
      </div>
      </div>
      </div>
      </div>
