<link rel="stylesheet" type="text/css" href="stylesheets/home.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/class.css"/>
<script type="text/javascript" src="/javascripts/search.js"></script>
<div id="wrapper" class="toggled">
	 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h5 class="sidebar-title">
                        {{name}}
                  </h5>
                </li>
                <li>
                    <h3>Your Markets</h3>
                </li>
                <li>
                   <a href="/settings"><h3>Profile Settings</h3></a>
                </li>
                <li>
                   <a href="/logout"><h3>Logout</h3></a>
                </li>
            </ul>
        </div>


 <div id="page-content-wrapper">

{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}


	{{#if classRoomUser}}
	<div class="container">
	<a href="#menu-toggle" class="menu" id="menu-toggle"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span></a>

		<div class="col-md-12">
			<h1 class="secondTitle">Your Classes</h1>

			{{#each classRoomUser}}
			<div class="col-md-4">
				<center>
				<div class="classRoom">
					<h5><a href="/classRoom/{{classRoom._id}}">{{classRoom.name}}</a></h5>
					<h6>{{classRoom.college}}</h6>
					<h6>Professor</h6>
					<h6>{{classRoom.professor}}</h6>
				</div>
				</center>
			</div>
			{{/each}}
		</div>

	</div>
	<center>
	<h5>Search Classes</h5>
	<input type="text" name="search" id = "search" placeholder="Search Classes">

	{{else}}
	<h5>You're not in Any Classes! Join One Now</h5>
	<input type="text" name="search" id = "search" placeholder="Search Classes">
	

	{{/if}}
	
	
	</center>


	<div class="container">
	<div class="results col-md-12"></div></div>

