<link rel="stylesheet" type="text/css" href="stylesheets/home.css"/>
<script type="text/javascript" src="/javascripts/search.js"></script>

{{#if error}}
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
      {{error}}
    </div>
{{/if}}

<div class="header">
	<div class="container">
		<div class="col-md-12">
			<h1>Welcome {{name}}</h1>
			<h3>You Are In {{activeNum}} Active Classes</h3>
			<a href="/logout"><h5>Logout</h5></a>
		</div>
	</div>
</div>




	{{#if classRoomUser}}
	<div class="container">
		<div class="col-md-12">
			<h3>Your Classes</h3>

			{{#each classRoomUser}}
			<div class="col-md-4">
				<center>
				<div class="classRoom">
					<h5><a href="/classRoom/{{classRoom._id}}">{{classRoom.name}}</a></h5>
					<h6>{{classRoom.college}}</h6>
					<h6>Professor</h6>
					<h6>{{classRoom.professor}}</h6>
				</div>
				</center>
			</div>
			{{/each}}
		</div>

	</div>
	<center>
	<h5>Search Classes</h5>
	<input type="text" name="search" id = "search" placeholder="Search Classes">

	{{else}}
	<h5>You're not in Any Classes! Join One Now</h5>
	<input type="text" name="search" id = "search" placeholder="Search Classes">
	

	{{/if}}
	
	
	</center>
	<hr>
	<div class="container">
	<div class="results col-md-12"></div></div>

